name: cd

on:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC
      contents: write  # Required for pushing tags

    steps:
    - name: Checkout current code
      uses: actions/checkout@v5

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler-cache: true
        cache-version: 1

    - name: Build gem
      run: gem build *.gemspec

    - name: Push to Rubygems
      uses: rubygems/release-gem@v1
